{% extends 'base.html' %}
{% block content %}
<h1>Welcome to Catch Your Feelings!</h1>

<h2>How it works</h2>

<p>Emotions can be broken down into two parts</p>

<div class="emotion-explanation">
<table>
  <thead>
    <th>Low happiness</th>
    <th>Mid happiness</th>
    <th>High happiness</th>
  </thead>
  <tbody>
    <td class="icon-wrapper"><i class="fas fa-frown fa-5x" id="low-val"></i></td>
    <td class="icon-wrapper"><i class="fas fa-meh fa-5x" id="med-val"></i></td>
    <td class="icon-wrapper"><i class="fas fa-smile fa-5x" id="high-val"></i></td>
  </tbody>
</table>
<p><b>Valence:</b> how <em>pleasent</em> an emotion is</p>
</div>
<div class="emotion-explanation">
  <table>
    <thead>
      <th>Low energy</th>
      <th>Mid energy</th>
      <th>High energy</th>
    </thead>
    <tbody>
      <td class="icon-wrapper"><i class="fas fa-battery-quarter fa-5x" id="low-en"></i></td>

      <td class="icon-wrapper"><i class="fas fa-battery-half fa-5x" id="med-en"></i></td>

      <td class="icon-wrapper"><i class="fas fa-battery-full fa-5x" id="high-en"></i></td>
    </tbody>
  </table>
  <p><b>Energy:</b> how <em>strong</em> an emotion is</p>
</div>


<h2>Examples</h2>
<div class="example">
  <table>
    <thead>
      <th>High happiness</th>
      <th></th>
      <th>High energy</th>
      <th></th>
      <th>Excited</th>
    </thead>
    <tbody>
      <td class="icon-wrapper"><i class="fas fa-smile fa-5x" id="high-val"></i></td>
      <td><i class="fas fa-plus fa-3x"></i></td>
      <td class="icon-wrapper"><i class="fas fa-battery-full fa-5x" id="high-en"></i></td>
      <td><i class="fas fa-equals fa-3x"></i></i></td>
      <td class="icon-wrapper"><i class="fas fa-laugh-squint fa-5x" id="excited"></i></td>
    </tbody>
  </table>
</div>

<div class="example">
  <table>
    <thead>
      <th>Low happiness</th>
      <th></th>
      <th>Low energy</th>
      <th></th>
      <th>Sad</th>
    </thead>
    <tbody>
      <td class="icon-wrapper"><i class="fas fa-frown fa-5x" id="low-val"></i></td>
      <td><i class="fas fa-plus fa-3x"></i></td>
      <td class="icon-wrapper"><i class="fas fa-battery-quarter fa-5x" id="low-en"></i> </td>
      <td><i class="fas fa-equals fa-3x"></i></i></td>
      <td class="icon-wrapper"><i class="fas fa-sad-tear fa-5x" id="sad"></i></td>
    </tbody>
  </table>
</div>

<div class="example">
  <table>
    <thead>
      <th>High happiness</th>
      <th></th>
      <th>Low energy</th>
      <th></th>
      <th>Relaxed</th>
    </thead>
    <tbody>
      <td class="icon-wrapper"><i class="fas fa-smile fa-5x" id="high-val"></i></td>
      <td><i class="fas fa-plus fa-3x"></i></td>
      <td class="icon-wrapper"><i class="fas fa-battery-quarter fa-5x" id="low-en"></i></td>
      <td><i class="fas fa-equals fa-3x"></i></i></td>
      <td class="icon-wrapper"><i class="fas fa-grin fa-5x" id="relaxed"></i></td>
    </tbody>
  </table>
</div>

<div class="example">
  <p>Food for thought: What do you think low happiness and high energy means?</p>
  <table>
    <thead>
      <th>Low happiness</th>
      <th></th>
      <th>High energy</th>
      <th></th>
      <th>???</th>
    </thead>
    <tbody>
      <td class="icon-wrapper"><i class="fas fa-frown fa-5x" id="low-val"></i></td>
      <td><i class="fas fa-plus fa-3x"></i></td>
      <td class="icon-wrapper"><i class="fas fa-battery-full fa-5x" id="high-en"></i></td>
      <td><i class="fas fa-equals fa-3x"></i></i></td>
      <td class="icon-wrapper"><i class="fas fa-question fa-5x" id="question"></i></td>
    </tbody>
  </table>
</div>

<p><b>Think about what you're feeling right now and you'll be rewarded with a song that matches your emotion!</b></p>

<a class="catch-link" href="/">Try the feeling catcher!</a>

{% endblock %}