{% extends 'base.html' %}
{% block content %}
<form action="">
  <label class="question" for="happyRating">Describe how happy you feel</label>
  <div class="wrapper happy-wrapper" name="happyRating" id="happyRating">
    <div class="option" name="sad" id="sad"><i class="fas fa-frown fa-5x"></i></div>
    <div class="option" name="meh" id="meh"><i class="fas fa-meh fa-5x"></i></div>
    <div class="option" name="happy" id="happy"><i class="fas fa-smile fa-5x"></i></div>
  </div>

  <label class="question" for="energyRating">Describe your energy level</label>
  <div class="wrapper energy-wrapper" name="energyRating" id="energyRating">
    <span class="option" name="low" id="low"><i class="fas fa-battery-empty fa-5x"></i></span>
    <span class="option" name="medium" id="medium"><i class="fas fa-battery-half fa-5x"></i></span>
    <span class="option" name="high" id="high"><i class="fas fa-battery-full fa-5x"></i></span>
  </div>
  <p id="energyStatus"></p>

  <button type="submit" id="findSong">Find the right song!</button>
</form>

<div class="wrapper song-wrapper">

</div>
{% endblock %}
{% block script %}
<script src="/js/feelingCatcher.js"></script>
{% endblock %}