{% extends 'base.html' %}
{% block content %}
<h1>Time to Catch Your Feelings</h1>

<label class="question happy" for="happyRating">Describe how happy you feel</label>
<div class="wrapper happy-wrapper" name="happyRating" id="happyRating">
  <div class="wrapper icon-wrapper option" data-level="low"  id="low-val"><i class="fas fa-frown fa-5x"></i></div>
  <div class="wrapper icon-wrapper option" data-level="medium" id="med-val"><i class="fas fa-meh fa-5x"></i></div>
  <div class="wrapper icon-wrapper option" data-level="high"  id="high-val"><i class="fas fa-smile fa-5x"></i></div>
</div>

<label class="question energy" for="energyRating">Describe your energy level</label>
<div class="wrapper energy-wrapper" name="energyRating" id="energyRating">
  <div class="wrapper icon-wrapper option" data-level="low" id="low-en"><i class="fas fa-battery-quarter fa-5x"></i></div>
  <div class="wrapper icon-wrapper option" data-level="medium" id="med-en"><i class="fas fa-battery-half fa-5x"></i></div>
  <div class="wrapper icon-wrapper option" data-level="high" id="high-en"><i class="fas fa-battery-full fa-5x"></i></div>
</div>

<button id="findSong">Find the right song!</button>

<a href="/about" class="learn-more">How does this work?</a>

<div class="wrapper song-wrapper">

</div>
{% endblock %}
{% block script %}
<script src="/js/defaultSongInfoKids.js"></script>
<script src="/js/feelingCatcher.js"></script>
{% endblock %}